{{>header}}
{{>navbar}}

                                                {{!-- LAGU PLAYING BERDASARKAN ID --}}

<div class="container music-playing"> 
    <div class='row mt-3'>
        {{!-- {{#each songChosen}} --}}
        <div class='col-3 musicPlayer mt-3'>
                <img src='{{songChosen.cover_music}}' alt='' class='list-thumbnail' />
                <div class='title-music'>
                    {{songChosen.title}}
                </div>
                <div class='music-itself'>
                    <audio controls>
                        <source src='{{songChosen.music}}' type="audio/mpeg">
                    </audio>
                </div>
                {{!--
            </a> --}} 
        </div>
        {{!-- {{/each}} --}}
    </div>
</div>

<script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">

</script>
{{>footer}}